* {
  /* Reset */
  margin: 0;
  padding: 0;

  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.entry {
  background: rgba(17, 21, 29, 0.603);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  margin: 0 auto 15px;
  background: #166d85;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

input,
textarea {
  padding-left: 5px;
}

input:invalid {
  border: 1px solid red;
}

button {
  width: 400px;
  height: 100px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin-bottom: 10px;
}
h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

textarea {
  background: #166d85;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  /* margin: 0 auto 15px; */
}

/* Reset style for HTML element on active to have no border*/
input:focus,
input:valid,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

::placeholder,
::-moz-placeholder,
::-webkit-input-placeholder {
  text-align: left;
  color: white;
}

/* Most Recent Entry Section */
#recent {
  padding: 5px;
}

#entryHolder {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: minmax(25px, auto);
  grid-template-areas: "date temp content";
  gap: 25px;
  justify-items: center;
  align-items: center;
}

.title {
  font-size: 1.35em;
  font-weight: bold;
}

#date {
  grid-area: date;
  font-size: 1.25em;
}

#temp {
  grid-area: temp;
}

#content {
  grid-area: content;
}

.entry-Holder-format {
  font-size: 1.25em;
  color: white;
  padding-top: 25px;
}

.category {
  display: block;
  font-size: 1.2em;
  color: #01161b;
}
